@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
}
.header {
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.info {
    margin-right: 10px;
}
.header_logo {
    flex-grow: 3;
    margin-left: 50px;
}
.header_logo img{
    height: 150px;
    width:150px;
    border-radius: 50%;
}
.search {
    flex-grow: 5;
}
.search input {
    height: 40px;
    width: 350px;
    margin-top: 55px;
}
.search button{
    height: 40px;
    width: 150px;
    margin-top: 55px;
    border-radius: 10px;
    font-size: 25px;
    background: #272d40;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
}
.header_cart {
    flex-grow: 2;
    font-family: 'Poppins', sans-serif;
    margin-top: 55px;
    margin-right: 0;
    font-size: 30px;
}
.header_cart span {
    color: white;
}
.navbarr {
    padding: 1%;
    margin-bottom: 1%;
    background: #272d40;
}
.navbarr ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
.navbarr li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: blue;
    margin: 0 10px;
}
.navbarr a {
    text-decoration: none;
}
/* .navbarr .menu {
    float: left;    
    font-size: 40px;
    transform: translate(-50px, -10px);
} */

.navbarr li :hover {
    color: white;
}

.content_row {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}
.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px #272d40 solid;
    margin-left: 10px;
}
.catalogy_item {
    display: flex;
    height: 50px;
    font-size: 20px;
    border-top: 1px black solid;
} 
.catalogy h3 {
    text-align: center;
    font-family: 'Poppins';
}
.catalogy_item img {
    height: 49px;
    width: 49px;
} 
.catalogy_item p {
   transform: translateY(10px);
   margin-left: 4px;
   text-decoration: none;
   color: white;
} 
.new h3 {
    font-family: 'Poppins';
    margin-top: 10px;
    text-align: center;
    border-top: 1px #272d40 solid;
    border-bottom: 1px #272d40 solid;
}
.new_item {
    display: flex;
    border-bottom: 1px #272d40 solid;
    padding: 5px;
}
.new_item img {
    height: 100px;
    width: 100px;
}
.new_item a {
    transform: translateY(20px);
    margin-left: 4px;
    color: white;
}
.column.right {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    flex-direction: row;
    padding-left: 12px;
}
.main_h3 {
    height: 60px;
    width: 100%;
    color: white;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px #272d40 solid;
    margin-bottom: 5px;
    transform: translateY(-8px);
}
.main_h3 h3 {
    border-top: 1px #272d40 solid;
    border-left: 1px #272d40 solid;
    border-right: 1px #272d40 solid;
    transform: translateY(9px);
    padding: 5px;
    background-color: #272d40;
}
.main_h3 a {
    transform: translateY(20px);
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.main_h3 a:hover {
    color: #272d40;
}
.card {
    height: 450px;
    width: 320px;
    color: white;
    background-color: #272d40;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
}
.card_cart, .card_heart {
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.card_cart {
    left: unset;
    right: 20px;
}
.card_img {
    width: 70%;
    height: 50%;
}
.card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 42px;
}
.card_title, .card_price {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.card_size, .card_color {
    display: flex;
    align-items: center;

}
.card_size span {
    padding: 1px 5px;
    background: #dadada;
    color: black;
    border: 7px;
    margin: 0 2px;
}
.card_color span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px 2px;
}
.card_color .green {
    background: green;
}
.card_color .blue {
    background: blue;
}
.card_color .red {
    background: red;
}
.card_action {
    margin-top: 10px;
    align-content: center;
    text-align: center;
}
.card_action button {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4daf54;
    padding: 10px 10px;
    font-weight: bold;
}
.card_img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
    transform: translateY(-20px);
    margin-top: 20px;
    margin-left: -42px;
}
.card_action button:hover {
    background: blue;
}
.card_cart:hover {
    font-size: 40px;
}
.footer {
    background-color: #272d40;
    /* height: 400px; */
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.footer_left {
    text-align: center;
    margin-top: 20px;
}
.footer_center {
    margin-top: 20px;
}
.follow {
    font-size: 25px;
}
.footer_right img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}
.footer_right {
    margin-top: 20px;
}
.copyright {
    width: 100%;
    border-top: 2px white solid;
    margin-left: 20px;
}
@media screen and (max-width: 700px) {
    .content_row, .navbarr, .header, .footer {   
      flex-direction: column;
      justify-content: center;
      justify-items: center;
    }
  }
@media screen and (max-width: 1400px) {
    .search {   
      transform: scale(0.8)
    }
  }
