* {
    box-sizing: border-box;
}
:root{
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
body {
    height: 100vh;
    margin: 0 auto;
}
.row {
    display: flex;
}
.slibar {
    flex-grow: 1;
    background-color: white;
    height: 100vh;
    position: relative;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
}
.slibar_logo {
    color: #1890FF;
    display: flex;
    font-weight: bold;
    height: 80px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
    z-index: 3;
}
.slibar_logo img {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}
.silogo {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 0 0 rgb(0 0 0 / 20%); */
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
.silogo img {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}
.slibar_content ul {
    list-style: none;
    margin: 0;
    z-index: 2;
    position: relative;
    color: black;
}
.slibar_hidden ul {
    list-style: none;
    position: relative;
}
.slibar_hidden {
    margin: 0;
    z-index: 1;
    visibility: hidden;
    position: absolute;
}
.slibar_hidden li:hover {
    border-right: 2px blue solid;
    background-color: #3eb9d8;
    color: blue;
}
.slibar_hidden li {
    margin: 4px 0;
   font-size: 16px;
   /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%); */
   line-height: 1.5s;
   height: 40px;
   display: flex;
   align-items: center;
   cursor: pointer;
   padding: 0 20px;
}
.chartsi {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    transform: translate(60px, -80px);
    width: 100px;
    justify-content: flex-start;
    padding-left: 15px;
    visibility: hidden;
}
.chartsi a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 13px;
    margin: 10px 0;
}
.chartsi i {
    margin-right: 5px;
}
.chartsi a:hover {
    color: #1890FF;
}
.slibar_content li {
   margin: 4px 0;
   font-size: 16px;
   /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%); */
   line-height: 1.7;
   height: 50px;
   display: flex;
   align-items: center;
   padding-left: 40px;
   cursor: pointer;
}
.ullll li:hover {
    color: blue;
    border-right: 2px blue solid;
    background-color: #3eb9d8;
}
.active {
    border-right: 2px blue solid;
    background-color: #3eb9d8;
    color: blue;
}
.active a {
    color: blue;

}
.slibar_content a i {
    transform: translateY(1px);
    margin-right: 10px;
}
.slibar_content a:hover {
    color: blue;
}
.lichart {
    position: relative;
}
.submenu {
    display: none;
    position: absolute;
    transform: translate(-8px, 80px);
    width: 100%;
}
.link {
    display: flex;
    align-items: center;
    width: 100%;
}
.fa-chevron-down {
    transform: translateX(70px);
    z-index: 2;
    /* display: none; */
}
.fa-chevron-up {
    transform: translateX(70px);
    z-index: 0;
    display: none;
}
.bxs-chevron-down {
    transform: translate(30px, 11px);
    /* z-index: 2; */
    /* display: none; */
}
.bxs-chevron-up {
    transform: translate(30px, 11px);
    /* z-index: 0; */
    display: none;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
}
.submenu a:hover {
    background: #3eb9d8;
}
.subchart {
    display: block;
    position: absolute;
    transform: translate(25px, 0);
}
.subchart a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
}
.slibar_content a {
    text-decoration: none;
    color: black;
}

.main {
    flex-grow: 15;
}
.header {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    height: 80px;  
    display: flex;
    align-items: center;
}
.header-left {
    font-size: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
}
.mode {
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
   font-size: 16px;
   /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%); */
   line-height: 1.7;
   height: 50px;
   align-items: center;
   cursor: pointer;
   padding: 0 5px;
   width: 100%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: attr(data-off);
    height: 20px;
    width: 20px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(40px);
  }
.slider.round {
    border-radius: 34px;
    right: 0;
  }
.slider.round:before {
    border-radius: 50%;
}
